<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Phuc</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>TypeScript</string>
	<key>uuid</key>
	<string>57C6A8E3-2819-44F9-9EF1-4A6D48D45B35</string>
</dict>
</plist>
